body {
    background-color: green;    /* цвет заднего фона */
    opacity: 0.5;                 /* прозрачность */

    font-family: Georgia, Times;  /* набор шрифтов */
    font-size: 14px;              /* размер шрифта */
    font-weight: bold;            /* полужирный или normal */
    font-style: italic;           /* наклон */
    text-transform: capitalize;   /* строчная/прописная */
    text-decoration: overline;    /* подчёркивание */
    line-height: 1.4em;           /* межстрочный интервал */
    letter-spacing: 0.2em;        /* растояние между буквами */
    word-spacing: 1em;            /* растояние между словами */
    text-align: left;             /* выравнивание по краю */
    text-shadow: 1px 1px 0px #000011;

    width: 100px;                 /* ширена */
    height: 100px;                /* высота */
    overflow: hidden;             /* поведение при нехватке места в box */
    border-width: 5px;            /* размер границы блока */
    border-style: dashed;         /* стиль границы */
    border-color: blue;
    padding: 4px;                 /* растояние между содержимым и блоком */
    margin: 4px;                  /* растояние между блоками */
    display: block;               /* встроенный элемент как блок */
    visibility: hidden;           /* скрыть блок но оставить место */
    border-image: fill;
    box-shadow: 0 10px 0 #3e3e3e;
    border-radius: 10px;
}

/*p.intro:first-line {}
          first-letter {}
          link {}
          visited {}
          hover {}
          focus {}
          active {} в таком порядке */
        